html, body, ul, li {
  padding: 0;
  margin: 0;
}

body {
  background: #D4D8DD;
  overflow: hidden;
}

.main_wrapper {
  margin: 0 auto;
  padding: 80px 0 40px;
  width: 1200px;
  /**/
}


.box {

  background: #B9B9B9;
  opacity: 1.00;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.25);

}

.fleft {
  float: left;
}

.vertical {
  height: 400px;
  width: 268px;
}

.horizontal {
  height: 120px;
  width: 400px;
}

.exit {
  transition: background 0.15s ease, box-shadow 0.1s ease;
  background: #FF8500;
  cursor: pointer;

}

.exit:hover {
  transition: box-shadow 0.1s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.exit:active {
  transition: box-shadow 0.1s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.button {
  /* Rectangle 2 */

  opacity: 1.00;
  border-radius: 4px;
  margin: 12px auto;

  transition: box-shadow 0.1s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);

}

.button:hover {
  transition: box-shadow 0.1s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.button:active {
  transition: box-shadow 0.1s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.b_center {
  margin: 12px auto;
}

.b_side {
  margin: 0 16px;
}

.clear {
  clear: both;
}

.transition_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*display: none;*/
  /*visibility: hidden;*/
}

.transitioner {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #FF8500;
  position: absolute;
  transform: scale();
  opacity: 0;
}

.ripple {
  opacity: 1;
  transition: transform 0.8s ease;
  transform: scale(100);
}

.fadeOut {
  transition: opacity 1s ease 0.6s;
  opacity: 0;
}

.stage {
  height: 100vh;
}

li {
  list-style: none;
  height: 100vh;
}

.white {
  background: white;
}

.blue {
  background: #2F80ED;
}

.yellow {
  background-color: yellow;
}

.grey {
  background: #B9B9B9;
}
