body {
  background: #D4D8DD;
}

.main_wrapper {
  margin: 120px auto;
  width: 1200px;
}


.box {
  float: left;
  margin: 0 16px;
  background: #B9B9B9;
  opacity: 1.00;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 400px;
  width: 268px;
}

.exit {
  transition: background 0.15s ease;
  background: #FF8500;
  cursor: pointer;
}

.main_button {
  /* Rectangle 2 */
  background: #2F80ED;
  opacity: 1.00;
  border-radius: 4px;
  height: 120px;
  width: 400px;
  margin: 0 auto;

  transition: box-shadow 0.1s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);

}

.main_button:hover {
  transition: box-shadow 0.1s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.clear {
  clear: both;
}
